/ModuleBuildInfos.json
/Binaries
/Intermediate
/Source/UEClingIncludePaths/obj
/Source/UEClingIncludePaths/UEClingIncludePathsPlugin.ubtplugin.csproj.props
/*.bat
/GeneratedHeaderPaths.txt
/Source/ClingScript/LambdaScript
